.search-form-container {
  display: flex;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  /* box-shadow: 4px 4px 15px #ccc; */
}

.search-input {
  flex: 1;
  outline: none;
  border: none;
  font-size: 1.2rem;
}
.search-button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--primary-color);
  transition: 0.5s ease-in;
  cursor: pointer;
  border-radius: 10px;
}
.search-button:hover {
  background-color: var(--primary-color-bright);
}

.dark-box-shadow {
  box-shadow: 4px 4px 15px #111;
}
.light-box-shadow {
  box-shadow: 4px 4px 15px #ccc;
}
