.product-listing-all-container {
  padding: 8rem;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2rem;
}

.grid-items {
  display: flex;
  justify-content: center;
}
