@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: Raleway;
}
h1 {
  font-size: 2.5rem;
}

.container {
  width: 90%;
  margin: auto;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}

:root {
  --primary-color: #fb995d;
  --primary-color-bright: #fa7727;
  --white-color: #fff;
}
.text-primary {
  color: var(--primary-color);
}

.button-primary {
  display: inline-block;
  padding: 1rem 2rem;
  color: #fff;
  background-color: var(--primary-color-bright);
  text-decoration: none;
  border-radius: 5px;
  margin-top: 2rem;
  box-shadow: 2px 2px 5px #ddd;
  transition: 1s ease;
  border: none;
}

.button-primary:hover {
  background-color: #222;
}
